<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Parking</title>
  </head>
  <body class="hold-transition layout-top-nav">
	<div class="wrapper">

		<!-- Navbar -->
		<nav class="main-header navbar navbar-expand-md navbar-dark navbar-olive">
			<div class="container">
				
				<div class="collapse navbar-collapse order-3" id="navbarCollapse">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a href="index"class="nav-link">Home</a>
						</li>
						<li class="nav-item">
							<a href="#"class="nav-link">Parking</a>
						</li>
						<li class="nav-item">
							<a href="camera"class="nav-link">Camera</a>
						</li>						
						<li class="nav-item">
							<a href="report"class="nav-link">Report</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- /.navbar -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-dark"> Parking Lot Status <small></small></h1>
						</div><!-- /.col -->
						<div class="col-sm-6">
							<!-- <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Layout</a></li>
              <li class="breadcrumb-item active">Top Navigation</li>
            </ol> -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<div class="content">
				<div class="container">

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header bg-olive">
									<h5 class="card-title">Basement B1</h5>
								</div>
								<div class="card-body">
									<table class="table table-bordered" id="tblB1">
										<tr style="text-align: center;">
											<td style="width: 10%; font-size: 150%">A</td>
											<td style="width: 10%;" class="lotNo">--</td>
											<td style="width: 4%;">1</td>
											<td style="width: 4%;">2</td>
											<td style="width: 4%;">3</td>
											<td style="width: 4%;">4</td>
											<td style="width: 4%;">5</td>
											<td style="width: 4%;">6</td>
											<td style="width: 4%;">7</td>
											<td style="width: 4%;">8</td>
											<td style="width: 4%;">9</td>
											<td style="width: 4%;">10</td>
											<td style="width: 4%;">11</td>
											<td style="width: 4%;">12</td>
											<td style="width: 4%;">13</td>
											<td style="width: 4%;">14</td>
											<td style="width: 4%;">15</td>
											<td style="width: 4%;">16</td>
											<td style="width: 4%;">17</td>
											<td style="width: 4%;">18</td>
											<td style="width: 4%;">19</td>
											<td style="width: 4%;">20</td>
										</tr>

										<tr>
											<td colspan="22" style="background-color: #adb5bd;"></td>
										</tr>
										<tr style="text-align: center;">
											<td style="width: 10%; font-size: 150%" rowspan="2">B</td>
											<td style="width: 10%;" class="lotNo" rowspan="2">--</td>
											<td style="width: 4%;">1</td>
											<td style="width: 4%;">3</td>
											<td style="width: 4%;">5</td>
											<td style="width: 4%;">7</td>
											<td style="width: 4%;">9</td>
											<td style="width: 4%;">11</td>
											<td style="width: 4%;">13</td>
											<td style="width: 4%;">15</td>
											<td style="width: 4%;">17</td>
											<td style="width: 4%;">19</td>
											<td style="width: 4%;">21</td>
											<td style="width: 4%;">23</td>
											<td style="width: 4%;">25</td>
											<td style="width: 4%;">27</td>
											<td style="width: 4%;">29</td>
											<td style="width: 4%;">31</td>
											<td style="width: 4%;">33</td>
											<td style="width: 4%;">35</td>
											<td style="width: 4%;">37</td>
											<td style="width: 4%;">39</td>
										</tr>
										<tr style="text-align: center;">
											<td style="width: 4%;">2</td>
											<td style="width: 4%;">4</td>
											<td style="width: 4%;">6</td>
											<td style="width: 4%;">8</td>
											<td style="width: 4%;">10</td>
											<td style="width: 4%;">12</td>
											<td style="width: 4%;">14</td>
											<td style="width: 4%;">16</td>
											<td style="width: 4%;">18</td>
											<td style="width: 4%;">20</td>
											<td style="width: 4%;">22</td>
											<td style="width: 4%;">24</td>
											<td style="width: 4%;">26</td>
											<td style="width: 4%;">28</td>
											<td style="width: 4%;">30</td>
											<td style="width: 4%;">32</td>
											<td style="width: 4%;">34</td>
											<td style="width: 4%;">36</td>
											<td style="width: 4%;">38</td>
											<td style="width: 4%;">40</td>
										</tr>

										<tr>
											<td colspan="22" style="background-color: #adb5bd;"></td>
										</tr>
										<tr style="text-align: center;">
											<td style="width: 10%; font-size: 150%">C</td>
											<td style="width: 10%;" class="lotNo">--</td>
											<td style="width: 4%;">1</td>
											<td style="width: 4%;">2</td>
											<td style="width: 4%;">3</td>
											<td style="width: 4%;">4</td>
											<td style="width: 4%;">5</td>
											<td style="width: 4%;">6</td>
											<td style="width: 4%;">7</td>
											<td style="width: 4%;">8</td>
											<td style="width: 4%;">9</td>
											<td style="width: 4%;">10</td>
											<td style="width: 4%;">11</td>
											<td style="width: 4%;">12</td>
											<td style="width: 4%;">13</td>
											<td style="width: 4%;">14</td>
											<td style="width: 4%;">15</td>
											<td style="width: 4%;">16</td>
											<td style="width: 4%;">17</td>
											<td style="width: 4%;">18</td>
											<td style="width: 4%;">19</td>
											<td style="width: 4%;">20</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header bg-olive">
									<h5 class="card-title">Basement B2</h5>
								</div>
								<div class="card-body">
									<table class="table table-bordered" id="tblB2">
										<tr style="text-align: center;">
											<td style="width: 10%; font-size: 150%">A</td>
											<td style="width: 10%;" class="lotNo">--</td>
											<td style="width: 4%;">1</td>
											<td style="width: 4%;">2</td>
											<td style="width: 4%;">3</td>
											<td style="width: 4%;">4</td>
											<td style="width: 4%;">5</td>
											<td style="width: 4%;">6</td>
											<td style="width: 4%;">7</td>
											<td style="width: 4%;">8</td>
											<td style="width: 4%;">9</td>
											<td style="width: 4%;">10</td>
											<td style="width: 4%;">11</td>
											<td style="width: 4%;">12</td>
											<td style="width: 4%;">13</td>
											<td style="width: 4%;">14</td>
											<td style="width: 4%;">15</td>
											<td style="width: 4%;">16</td>
											<td style="width: 4%;">17</td>
											<td style="width: 4%;">18</td>
											<td style="width: 4%;">19</td>
											<td style="width: 4%;">20</td>
										</tr>

										<tr>
											<td colspan="22" style="background-color: #adb5bd;"></td>
										</tr>
										<tr style="text-align: center;">
											<td style="width: 10%; font-size: 150%" rowspan="2">B</td>
											<td style="width: 10%; " class="lotNo" rowspan="2">--</td>
											<td style="width: 4%;">1</td>
											<td style="width: 4%;">3</td>
											<td style="width: 4%;">5</td>
											<td style="width: 4%;">7</td>
											<td style="width: 4%;">9</td>
											<td style="width: 4%;">11</td>
											<td style="width: 4%;">13</td>
											<td style="width: 4%;">15</td>
											<td style="width: 4%;">17</td>
											<td style="width: 4%;">19</td>
											<td style="width: 4%;">21</td>
											<td style="width: 4%;">23</td>
											<td style="width: 4%;">25</td>
											<td style="width: 4%;">27</td>
											<td style="width: 4%;">29</td>
											<td style="width: 4%;">31</td>
											<td style="width: 4%;">33</td>
											<td style="width: 4%;">35</td>
											<td style="width: 4%;">37</td>
											<td style="width: 4%;">39</td>
										</tr>
										<tr style="text-align: center;">
											<td style="width: 4%;">2</td>
											<td style="width: 4%;">4</td>
											<td style="width: 4%;">6</td>
											<td style="width: 4%;">8</td>
											<td style="width: 4%;">10</td>
											<td style="width: 4%;">12</td>
											<td style="width: 4%;">14</td>
											<td style="width: 4%;">16</td>
											<td style="width: 4%;">18</td>
											<td style="width: 4%;">20</td>
											<td style="width: 4%;">22</td>
											<td style="width: 4%;">24</td>
											<td style="width: 4%;">26</td>
											<td style="width: 4%;">28</td>
											<td style="width: 4%;">30</td>
											<td style="width: 4%;">32</td>
											<td style="width: 4%;">34</td>
											<td style="width: 4%;">36</td>
											<td style="width: 4%;">38</td>
											<td style="width: 4%;">40</td>
										</tr>

										<tr>
											<td colspan="22" style="background-color: #adb5bd;"></td>
										</tr>
										<tr style="text-align: center;">
											<td style="width: 10%; font-size: 150%" rowspan="2">C</td>
											<td style="width: 10%; " class="lotNo" rowspan="2">--</td>
											<td style="width: 4%;">1</td>
											<td style="width: 4%;">3</td>
											<td style="width: 4%;">5</td>
											<td style="width: 4%;">7</td>
											<td style="width: 4%;">9</td>
											<td style="width: 4%;">11</td>
											<td style="width: 4%;">13</td>
											<td style="width: 4%;">15</td>
											<td style="width: 4%;">17</td>
											<td style="width: 4%;">19</td>
											<td style="width: 4%;">21</td>
											<td style="width: 4%;">23</td>
											<td style="width: 4%;">25</td>
											<td style="width: 4%;">27</td>
											<td style="width: 4%;">29</td>
											<td style="width: 4%;">31</td>
											<td style="width: 4%;">33</td>
											<td style="width: 4%;">35</td>
											<td style="width: 4%;">37</td>
											<td style="width: 4%;">39</td>
										</tr>
										<tr style="text-align: center;">
											<td style="width: 4%;">2</td>
											<td style="width: 4%;">4</td>
											<td style="width: 4%;">6</td>
											<td style="width: 4%;">8</td>
											<td style="width: 4%;">10</td>
											<td style="width: 4%;">12</td>
											<td style="width: 4%;">14</td>
											<td style="width: 4%;">16</td>
											<td style="width: 4%;">18</td>
											<td style="width: 4%;">20</td>
											<td style="width: 4%;">22</td>
											<td style="width: 4%;">24</td>
											<td style="width: 4%;">26</td>
											<td style="width: 4%;">28</td>
											<td style="width: 4%;">30</td>
											<td style="width: 4%;">32</td>
											<td style="width: 4%;">34</td>
											<td style="width: 4%;">36</td>
											<td style="width: 4%;">38</td>
											<td style="width: 4%;">40</td>
										</tr>

										<tr>
											<td colspan="22" style="background-color: #adb5bd;"></td>
										</tr>
										<tr style="text-align: center;">
											<td style="width: 10%; font-size: 150%">D</td>
											<td style="width: 10%;" class="lotNo">--</td>
											<td style="width: 4%;">1</td>
											<td style="width: 4%;">2</td>
											<td style="width: 4%;">3</td>
											<td style="width: 4%;">4</td>
											<td style="width: 4%;">5</td>
											<td style="width: 4%;">6</td>
											<td style="width: 4%;">7</td>
											<td style="width: 4%;">8</td>
											<td style="width: 4%;">9</td>
											<td style="width: 4%;">10</td>
											<td style="width: 4%;">11</td>
											<td style="width: 4%;">12</td>
											<td style="width: 4%;">13</td>
											<td style="width: 4%;">14</td>
											<td style="width: 4%;">15</td>
											<td style="width: 4%;">16</td>
											<td style="width: 4%;">17</td>
											<td style="width: 4%;">18</td>
											<td style="width: 4%;">19</td>
											<td style="width: 4%;">20</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<!-- Main Footer -->
		<footer class="main-footer">
			<!-- To the right -->
			<div class="float-right d-none d-sm-inline">

			</div>
			<!-- Default to the left -->
			<strong>Copyright &copy; 2020 <a href="#">VAS Corporation</a>.</strong> All rights reserved.
		</footer>
	</div>
	<!-- ./wrapper -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>